<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clips_fire_next</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>125</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>45</integer>
		<!-- channel key is optional, defaults to 0
		<key>channel</key>
		<integer>0</integer>
		-->
	</dict>
	<key>clips_fire_next_available</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>121</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>44</integer>
	</dict>
	<key>clips_fire_previous</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>126</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>41</integer>
	</dict>
	<key>clips_fire_previous_available</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>116</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>42</integer>
	</dict>
	<key>clips_fire_selected</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>36</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>43</integer>
	</dict>
	<key>clips_fire_selected_enter</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>76</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>43</integer>
	</dict>
	<key>clips_select_playing</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>36</integer>
			<key>optionKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>50</integer>
	</dict>
	<key>clips_toggle_auto_select_playing</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>76</integer>
			<key>optionKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>51</integer>
	</dict>
	
	
	<key>devices_next</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>124</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>32</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_prev</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>123</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>32</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>devices_instrument</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>37</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>66</integer>
	</dict>
	<key>devices_onoff</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>31</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>69</integer>
	</dict>
	
	<key>devices_param_1_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>18</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>33</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_1_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>18</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>33</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_1_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>12</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>33</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_1_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>12</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>33</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	<key>devices_param_2_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>19</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>34</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_2_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>19</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>34</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_2_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>13</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>34</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_2_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>13</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>34</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	<key>devices_param_3_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>20</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>35</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_3_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>20</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>35</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_3_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>14</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>35</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_3_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>14</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>35</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	
	
	<key>devices_param_4_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>21</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>36</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_4_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>21</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>36</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_4_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>15</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>36</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_4_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>15</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>36</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	
	
	<key>devices_param_5_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>23</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>37</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_5_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>23</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>37</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_5_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>17</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>37</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_5_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>17</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>37</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	
	
	<key>devices_param_6_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>22</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>38</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_6_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>22</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>38</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_6_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>16</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>38</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_6_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>16</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>38</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	
	
	<key>devices_param_7_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>26</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>39</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_7_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>26</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>39</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_7_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>32</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>39</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_7_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>32</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>39</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	
	
	<key>devices_param_8_up</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>28</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>40</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>devices_param_8_up_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>28</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>40</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>devices_param_8_down</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>34</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>40</integer>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>devices_param_8_down_precise</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>34</integer>
			<key>alphaLock</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>cc</key>
		<integer>40</integer>
		<key>value</key>
		<integer>127</integer>
	</dict>
	
	
	
	<key>devices_param_1_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>0</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>52</integer>
	</dict>
	<key>devices_param_2_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>1</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>53</integer>
	</dict>
	<key>devices_param_3_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>2</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>54</integer>
	</dict>
	<key>devices_param_4_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>3</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>55</integer>
	</dict>
	<key>devices_param_5_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>5</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>56</integer>
	</dict>
	<key>devices_param_6_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>4</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>57</integer>
	</dict>
	<key>devices_param_7_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>38</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>58</integer>
	</dict>
	<key>devices_param_8_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>40</integer>
			<key>alphaLock</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>59</integer>
	</dict>
	
	
	
	
	<key>global_back_to_arranger</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>11</integer>
			<key>controlKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>13</integer>
	</dict>
	<key>global_toggle_metronome</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>40</integer>
			<key>controlKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>12</integer>
	</dict>
	<key>global_toggle_overdub</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>31</integer>
			<key>controlKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>14</integer>
	</dict>
	<key>global_disable_overdub</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>31</integer>
			<key>controlKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>15</integer>
	</dict>
	<key>global_toggle_punchin</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>35</integer>
			<key>controlKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>16</integer>
	</dict>
	<key>global_toggle_punchout</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>35</integer>
			<key>controlKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>17</integer>
	</dict>
	<key>global_toggle_loop</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>37</integer>
			<key>controlKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>18</integer>
	</dict>
	<key>global_toggle_record</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>38</integer>
			<key>controlKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>19</integer>
	</dict>
	<key>global_toggle_auto_arm</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>0</integer>
			<key>controlKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>11</integer>
	</dict>
	<key>global_tap_tempo</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>keyCode</key>
			<integer>47</integer>
			<key>cmdKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>86</integer>
	</dict>
	<key>global_increase_tempo</key>
	<dict>
		<key>cc</key>
		<integer>86</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>global_increase_tempo_precise</key>
	<dict>
		<key>cc</key>
		<integer>86</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>global_decrease_tempo</key>
	<dict>
		<key>cc</key>
		<integer>86</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>global_decrease_tempo_precise</key>
	<dict>
		<key>cc</key>
		<integer>86</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>optionKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>global_move_loop_left</key>
	<dict>
		<key>cc</key>
		<integer>87</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>25</integer>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>global_move_loop_right</key>
	<dict>
		<key>cc</key>
		<integer>87</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>29</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>global_move_lb_left</key>
	<dict>
		<key>cc</key>
		<integer>88</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>25</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>global_move_lb_right</key>
	<dict>
		<key>cc</key>
		<integer>88</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>29</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>global_move_rb_left</key>
	<dict>
		<key>cc</key>
		<integer>89</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>25</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>global_move_rb_right</key>
	<dict>
		<key>cc</key>
		<integer>89</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>29</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>global_scrub_by_ff</key>
	<dict>
		<key>cc</key>
		<integer>90</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>47</integer>
		</dict>
		<key>value</key>
		<integer>4</integer>
	</dict>
	<key>global_scrub_by_rw</key>
	<dict>
		<key>cc</key>
		<integer>90</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>43</integer>
		</dict>
		<key>value</key>
		<integer>124</integer>
	</dict>
	<key>scenes_fire_next</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>125</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>40</integer>
	</dict>
	<key>scenes_fire_previous</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>126</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>36</integer>
	</dict>
	<key>scenes_fire_selected</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>36</integer>
		</dict>
		<key>note</key>
		<integer>38</integer>
	</dict>
	<key>scenes_fire_selected_enter</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>76</integer>
		</dict>
		<key>note</key>
		<integer>38</integer>
	</dict>
	<key>scenes_select_first</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>116</integer>
		</dict>
		<key>note</key>
		<integer>37</integer>
	</dict>
	<key>scenes_select_last</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>121</integer>
		</dict>
		<key>note</key>
		<integer>39</integer>
	</dict>
	<key>scenes_select_next</key>
	<dict>
		<key>cc</key>
		<integer>84</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>125</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>scenes_select_previous</key>
	<dict>
		<key>cc</key>
		<integer>84</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>126</integer>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_arm</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
		</dict>
		<key>note</key>
		<integer>0</integer>
	</dict>
	<key>track_arm_exclusive</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>3</integer>
	</dict>
	<key>track_arm_kill</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>10</integer>
	</dict>
	<key>track_mute</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>2</integer>
		</dict>
		<key>note</key>
		<integer>2</integer>
	</dict>
	<key>track_mute_exclusive</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>2</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>5</integer>
	</dict>
	<key>track_mute_kill</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>2</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>8</integer>
	</dict>
	<key>track_mute_flip</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>2</integer>
			<key>shiftKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>9</integer>
	</dict>
	<key>track_pan_center</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>7</integer>
		</dict>
		<key>note</key>
		<integer>23</integer>
	</dict>
	<key>track_pan_left</key>
	<dict>
		<key>cc</key>
		<integer>23</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>6</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_pan_left_precise</key>
	<dict>
		<key>cc</key>
		<integer>23</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>6</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_pan_right</key>
	<dict>
		<key>cc</key>
		<integer>23</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>8</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_pan_right_precise</key>
	<dict>
		<key>cc</key>
		<integer>23</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>8</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	<key>track_sends_1_down</key>
	<dict>
		<key>cc</key>
		<integer>24</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>12</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_1_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>24</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>12</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_1_open</key>
	<dict>
		<key>cc</key>
		<integer>12</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>18</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_1_reset</key>
	<dict>
		<key>cc</key>
		<integer>12</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>12</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_1_up</key>
	<dict>
		<key>cc</key>
		<integer>24</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>18</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_1_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>24</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>18</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	<key>track_sends_2_down</key>
	<dict>
		<key>cc</key>
		<integer>25</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>13</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_2_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>25</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>13</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_2_open</key>
	<dict>
		<key>cc</key>
		<integer>13</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>19</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_2_reset</key>
	<dict>
		<key>cc</key>
		<integer>13</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>13</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_2_up</key>
	<dict>
		<key>cc</key>
		<integer>25</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>19</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_2_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>25</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>19</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>track_sends_3_down</key>
	<dict>
		<key>cc</key>
		<integer>26</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>14</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_3_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>26</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>14</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_3_open</key>
	<dict>
		<key>cc</key>
		<integer>14</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>20</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_3_reset</key>
	<dict>
		<key>cc</key>
		<integer>14</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>14</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_3_up</key>
	<dict>
		<key>cc</key>
		<integer>26</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>20</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_3_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>26</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>20</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>track_sends_4_down</key>
	<dict>
		<key>cc</key>
		<integer>27</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>15</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_4_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>27</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>15</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_4_reset</key>
	<dict>
		<key>cc</key>
		<integer>15</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>15</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_4_up</key>
	<dict>
		<key>cc</key>
		<integer>27</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>21</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_4_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>27</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>21</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	
	<key>track_sends_5_down</key>
	<dict>
		<key>cc</key>
		<integer>28</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_5_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>28</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_5_open</key>
	<dict>
		<key>cc</key>
		<integer>16</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>23</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_5_reset</key>
	<dict>
		<key>cc</key>
		<integer>16</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_5_up</key>
	<dict>
		<key>cc</key>
		<integer>28</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>23</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_5_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>28</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>23</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	
	
	
	<key>track_sends_6_down</key>
	<dict>
		<key>cc</key>
		<integer>29</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>16</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_6_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>29</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>16</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_6_reset</key>
	<dict>
		<key>cc</key>
		<integer>17</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>16</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_6_open</key>
	<dict>
		<key>cc</key>
		<integer>17</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>22</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_6_up</key>
	<dict>
		<key>cc</key>
		<integer>29</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>22</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_6_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>29</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>22</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	
	
	
	
	<key>track_sends_7_down</key>
	<dict>
		<key>cc</key>
		<integer>30</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>32</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_7_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>30</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>32</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_7_reset</key>
	<dict>
		<key>cc</key>
		<integer>18</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>32</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_7_open</key>
	<dict>
		<key>cc</key>
		<integer>18</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>26</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_7_up</key>
	<dict>
		<key>cc</key>
		<integer>30</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>26</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_7_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>30</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>26</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	
	
	
	
	<key>track_sends_8_down</key>
	<dict>
		<key>cc</key>
		<integer>31</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>34</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_sends_8_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>31</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>34</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_8_reset</key>
	<dict>
		<key>cc</key>
		<integer>19</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>34</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>track_sends_8_open</key>
	<dict>
		<key>cc</key>
		<integer>19</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>28</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_sends_8_up</key>
	<dict>
		<key>cc</key>
		<integer>31</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>28</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_sends_8_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>31</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>28</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	
	
	
	
	
	
	
	
	
	<key>track_solo</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>1</integer>
		</dict>
		<key>note</key>
		<integer>1</integer>
	</dict>
	<key>track_solo_exclusive</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>1</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>4</integer>
	</dict>
	<key>track_solo_kill</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>1</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>7</integer>
	</dict>
	<key>track_stop_selected</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>36</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>48</integer>
	</dict>
	<key>track_stop_selected_enter</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>76</integer>
			<key>shiftKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>48</integer>
	</dict>
	<key>track_stop_all</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>36</integer>
			<key>shiftKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>49</integer>
	</dict>
	<key>track_stop_all_enter</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>76</integer>
			<key>shiftKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>note</key>
		<integer>49</integer>
	</dict>
	<key>track_switch_monitoring</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>46</integer>
		</dict>
		<key>note</key>
		<integer>6</integer>
	</dict>
	<key>track_volume_down</key>
	<dict>
		<key>cc</key>
		<integer>22</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>9</integer>
		</dict>
		<key>value</key>
		<integer>123</integer>
	</dict>
	<key>track_volume_down_precise</key>
	<dict>
		<key>cc</key>
		<integer>22</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>9</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>track_volume_reset</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>5</integer>
		</dict>
		<key>note</key>
		<integer>22</integer>
	</dict>
	<key>track_volume_up</key>
	<dict>
		<key>cc</key>
		<integer>22</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>3</integer>
		</dict>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<key>track_volume_up_precise</key>
	<dict>
		<key>cc</key>
		<integer>22</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>3</integer>
			<key>optionKey</key>
			<true/>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>tracks_select_first</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>115</integer>
		</dict>
		<key>note</key>
		<integer>46</integer>
	</dict>
	<key>tracks_select_last</key>
	<dict>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>119</integer>
		</dict>
		<key>note</key>
		<integer>47</integer>
	</dict>
	<key>tracks_select_next</key>
	<dict>
		<key>cc</key>
		<integer>85</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>124</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>tracks_select_previous</key>
	<dict>
		<key>cc</key>
		<integer>85</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>123</integer>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>tracks_fold</key>
	<dict>
		<key>cc</key>
		<integer>73</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
			<key>keyCode</key>
			<integer>126</integer>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>tracks_unfold</key>
	<dict>
		<key>cc</key>
		<integer>73</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
			<key>keyCode</key>
			<integer>125</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	
	<key>tracks_crossfade_a</key>
	<dict>
		<key>note</key>
		<integer>91</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>tracks_crossfade_b</key>
	<dict>
		<key>note</key>
		<integer>92</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>keyCode</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>tracks_crossfade_none</key>
	<dict>
		<key>note</key>
		<integer>93</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>keyCode</key>
			<integer>45</integer>
		</dict>
	</dict>
	
	
	<key>global_crossfade_a</key>
	<dict>
		<key>cc</key>
		<integer>76</integer>
		<key>value</key>
		<integer>0</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>global_crossfade_b</key>
	<dict>
		<key>cc</key>
		<integer>76</integer>
		<key>value</key>
		<integer>127</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
			<key>keyCode</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>global_crossfade_none</key>
	<dict>
		<key>cc</key>
		<integer>76</integer>
		<key>value</key>
		<integer>64</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
			<key>keyCode</key>
			<integer>45</integer>
		</dict>
	</dict>
	
	<key>global_toggle_track_collapsed</key>
	<dict>
		<key>note</key>
		<integer>94</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>cmdKey</key>
			<true/>
			<key>shiftKey</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
		</dict>
	</dict>
	
	<key>quantization_clip_trigger_next</key>
	<dict>
		<key>cc</key>
		<integer>49</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>24</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>quantization_clip_trigger_prev</key>
	<dict>
		<key>cc</key>
		<integer>49</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>keyCode</key>
			<integer>27</integer>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
	<key>quantization_midi_recording_next</key>
	<dict>
		<key>cc</key>
		<integer>50</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
			<key>keyCode</key>
			<integer>24</integer>
		</dict>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<key>quantization_midi_recording_prev</key>
	<dict>
		<key>cc</key>
		<integer>50</integer>
		<key>hotkey</key>
		<dict>
			<key>controlKey</key>
			<true/>
			<key>optionKey</key>
			<true/>
			<key>keyCode</key>
			<integer>27</integer>
		</dict>
		<key>value</key>
		<integer>127</integer>
	</dict>
</dict>
</plist>
